/* ======================================
   CUSTOM SCROLLBAR
====================================== */

/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 217, 255, 0.22);
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 217, 255, 0.45);
  background-clip: content-box;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* Firefox */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,217,255,.35) transparent;
}